{% extends "layout.html.j2" %}
{% block content %}
<div style="display: flex; flex-wrap: wrap;">
    <section style="flex-grow: 1;">
        <h1>Settings</h1>

        <h2>Authentication</h2>
        <ul>
            <li>Identity provider: <a href="{{ discovery.issuer }}">{{ discovery.issuer }}</a></li>
            <li>Discovery URL: <a href="{{ discovery_url }}">{{ discovery_url }}</a></li>
            {% if access_token %}
            Access token:
            <ul>
                <li>Last renewed at {{ access_token_iat }}</li>
                <li>Lifetime of {{ access_token_exp - access_token_iat }}, expires in {{ (access_token_exp - now).total_seconds() | int }} seconds</li>
                <li><a href="{{ url_for('oauth_validate') }}">View decrypted access token</a></li>
            </ul>
            {% endif %}
        </ul>

        <h2>Frontend</h2>
        <ul>
            <li>
                Allowed origins:
                {% if cors_origins %}
                <ul>
                    {% for origin in cors_origins %}
                    <li><a href="{{ origin }}">{{ origin }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}Missing!{% endif %}
            </li>
            <li>Default Redirect URI: <a href="{{ default_redirect_uri }}">{{ default_redirect_uri }}</a></li>
        </ul>

    </section>
    <section style="flex-grow: 1;">

        <h1>Profile</h1>
        {% if profile %}
        <ul>
            <li>Account ID: {{ profile.account_id }}</li>
            <li>Created at: {{ profile.created_at }}</li>
            <li>Display name: {{ profile.display_name }}</li>
            <li>First name: {{ profile.first_name }}</li>
            <li>Last name: {{ profile.last_name }}</li>
            <li>Email: {{ profile.email }}</li>
        </ul>
        {% else %}
        <p>You are not logged in.</p>
        {% endif %}
    </section>
</div>
{% endblock content %}
